<ion-content>
  <div class="center_holder">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Account Verification</ion-card-subtitle>
        <ion-card-title>Account Pending Approval</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Please wait as you account is being verified, please note tat this might take a while. If the problem persists please contact administration on this email address<b>Example@example.com</b>
      </ion-card-content>
      <br/>
    </ion-card>
  </div>
</ion-content>
