.ag-pivot-off .ag-header-group-cell {
  font-size: 50px;
  color: red;
}

.ag-pivot-on .ag-header-group-cell {
  font-size: 25px;
  color: green;
}

ion-footer {
  --background: grey !important;

  ion-title {
      text-transform: capitalize;
  }
}

.mod_header,
.mod_toolbar {
  height: 48px !important; //by default 56px
  background: var(--ion-item-background, #2b50ed);
  text-align: center;

  ion-title {
      text-transform: uppercase;
      font-size: 14px !important;
      color: white;
      --padding-top: 0px !important;
      --margin-top: 0px !important;
  }
}

.btn,
.icn {
  color: rgb(43, 78, 237) !important;
}

.add_btn {
  height: 42px;
}
